@import 'tailwindcss';
@import './app.css';

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: oklch(0.9697 0.0017 247.84);
  --foreground: oklch(0.1971 0.006 285.84);
  --accent: oklch(0.8969 0.0046 258.33);
  --muted: oklch(0.503 0.0117 267.27);
  --dimmed: oklch(0.607 0.014 271.18);
  --border: oklch(0.906 0.0046 258.33);
  --separator: oklch(0.906 0.0046 258.33);
  --input: oklch(1 0 0);
  --input-subtle: oklch(0.9764 0.0013 286.38);
  --input-border: oklch(0.8892 0.0041 286.32);
  --input-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.1);
  --input-accent-border: oklch(0.7907 0.0084 286.21);
  --avatar: oklch(0.9217 0.0029 264.54);
  --avatar-foreground: var(--foreground);
  --card: oklch(0.9851 0 0);
  --card-border: oklch(0.9373 0.0013 286.37);
  --card-footer: oklch(0.9605 0.0046 258.32);
  --card-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.1);
  --item: oklch(0.9851 0 0);
  --item-border: oklch(0.9464 0.0013 286.37);
  --chip: oklch(0.9694 0.0011 197.14);
  --chip-border: oklch(0.8892 0.0041 286.32);
  --popover: oklch(0.9851 0 0);
  --popover-foreground: var(--foreground);
  --popover-border: oklch(0.9222 0.0013 286.37);
  --popover-accent: oklch(0.9281 0.0042 271.37);
  --dialog: oklch(0.9851 0 0);
  --dialog-foreground: var(--foreground);
  --dialog-border: oklch(0.9464 0.0013 286.37);
  --dialog-footer: oklch(0.9605 0.0046 258.32);
  --toast: oklch(0.9851 0 0);
  --toast-foreground: var(--foreground);
  --toast-border: oklch(0.907 0.0013 286.37);
  --table: transparent;
  --table-foreground: var(--foreground);
  --table-border: oklch(0.9222 0.0013 286.37);
  --table-head: oklch(0.9524 0.0013 286.37);
  --table-accent: oklch(0.9544 0.0011 197.14);
  --tabs: oklch(0.9373 0.0013 286.37);
  --tabs-foreground: var(--foreground);
  --tabs-accent: oklch(0.88 0.0041 286.32);
  --tabs-border: oklch(0.8492 0.0041 286.31);
  --primary: oklch(0.5784 0.2057 262.95);
  --primary-foreground: oklch(0.9764 0.0013 286.38);
  --primary-border: oklch(0.5938 0.1979 263.03);
  --secondary: oklch(0.8954 0.0041 286.32);
  --secondary-foreground: var(--foreground);
  --secondary-border: oklch(0.8492 0.0041 286.31);
  --danger: oklch(0.6098 0.244 28.41);
  --danger-foreground: oklch(0.9764 0.0013 286.38);
  --danger-border: oklch(0.5416 0.2178 28.52);
  --tertiary: oklch(0.2797 0.0047 247.99);
  --tertiary-foreground: oklch(0.9764 0.0013 286.38);
  --tertiary-border: oklch(0.5351 0.0119 248.05);
  --warning: oklch(0.744 0.1539 78.47);
  --warning-foreground: oklch(0.9764 0.0013 286.38);
  --warning-border: oklch(0.6303 0.1299 78.77);
  --success: oklch(0.6554 0.187 148.39);
  --success-foreground: oklch(0.9764 0.0013 286.38);
  --success-border: oklch(0.5152 0.1446 148.94);
  --info: oklch(0.6649 0.1854 249.66);
  --info-foreground: oklch(0.9764 0.0013 286.38);
  --info-border: oklch(0.5703 0.160671 249.8244);
  --kbd: oklch(0.9197 0.004 286.32);
  --kbd-foreground: var(--foreground);
  --kbd-border: oklch(0.8776 0.0068 286.26);

  --shadow: 0 3px 4px rgba(0, 0, 0, 0.15);

  --gradient-primary: linear-gradient(
    180deg,
    oklch(0.6198 0.1819 263.43) 0%,
    oklch(0.5784 0.2057 262.95) 100%
  );
  --gradient-info: linear-gradient(
    180deg,
    oklch(0.6649 0.1854 249.66) 0%,
    oklch(0.6104 0.1723 249.9) 100%
  );
  --gradient-secondary: linear-gradient(
    180deg,
    oklch(0.8954 0.0041 286.32) 0%,
    oklch(0.882 0.0029 264.54) 100%
  );
  --gradient-success: linear-gradient(
    180deg,
    oklch(0.6554 0.187 148.39) 0%,
    oklch(0.5877 0.1668 148.59) 100%
  );
  --gradient-warning: linear-gradient(
    180deg,
    oklch(0.744 0.1539 78.47) 0%,
    oklch(0.681 0.1407 78.49) 100%
  );
  --gradient-tertiary: linear-gradient(
    180deg,
    oklch(0.2797 0.0047 247.99) 0%,
    oklch(0.1291 0.0026 286.03) 100%
  );
  --gradient-danger: linear-gradient(
    180deg,
    oklch(0.6098 0.244 28.41) 0%,
    oklch(0.561 0.2257 28.54) 100%
  );

  --spinner-light: url("data:image/svg+xml,%3Csvg width='100' height='100' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_339_178)'%3E%3Cpath d='M22 12.0005C21.9999 14.1123 21.3313 16.1698 20.0899 17.8782C18.8486 19.5866 17.0983 20.8582 15.0899 21.5107C13.0814 22.1632 10.918 22.1631 8.9096 21.5105C6.90121 20.8579 5.15098 19.5862 3.90974 17.8777C2.6685 16.1693 1.99998 14.1117 2 11.9999C2.00002 9.88816 2.66856 7.83061 3.90982 6.12216C5.15109 4.4137 6.90134 3.14205 8.90974 2.48946C10.9181 1.83687 13.0816 1.83684 15.09 2.48938' stroke='%23F7F7F8' stroke-width='3' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_339_178'%3E%3Crect width='24' height='24' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
  --spinner-dark: url("data:image/svg+xml,%3Csvg width='100' height='100' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_339_178)'%3E%3Cpath d='M22 12.0005C21.9999 14.1123 21.3313 16.1698 20.0899 17.8782C18.8486 19.5866 17.0983 20.8582 15.0899 21.5107C13.0814 22.1632 10.918 22.1631 8.9096 21.5105C6.90121 20.8579 5.15098 19.5862 3.90974 17.8777C2.6685 16.1693 1.99998 14.1117 2 11.9999C2.00002 9.88816 2.66856 7.83061 3.90982 6.12216C5.15109 4.4137 6.90134 3.14205 8.90974 2.48946C10.9181 1.83687 13.0816 1.83684 15.09 2.48938' stroke='%23161718' stroke-width='3' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_339_178'%3E%3Crect width='24' height='24' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
  --chevron-right: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='m9 18 6-6-6-6'/%3E%3C/svg%3E");
  --chevron-right-dark: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='m9 18 6-6-6-6'/%3E%3C/svg%3E");
  --chevron-down: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='m6 9 6 6 6-6'/%3E%3C/svg%3E");
  --chevron-down-dark: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='m6 9 6 6 6-6'/%3E%3C/svg%3E");
}

.dark {
  --background: oklch(0.2039 0.0025 247.95);
  --foreground: oklch(0.9764 0.0013 286.38);
  --accent: oklch(0.3084 0.0061 258.35);
  --muted: oklch(0.792 0.0074 268.53);
  --dimmed: oklch(0.6904 0.0119 274.82);
  --border: oklch(0.2878 0.0046 247.99);
  --separator: oklch(0.308 0.0046 247.98);
  --input: oklch(0.2973 0.0056 271.23);
  --input-subtle: oklch(0.2559 0.004 264.5);
  --input-border: oklch(0.3893 0.0117 285.84);
  --input-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.1);
  --input-accent-border: oklch(0.4265 0.0115 285.9);
  --avatar: oklch(0.3147 0.0071 285.99);
  --avatar-foreground: var(--foreground);
  --card: oklch(0.2559 0.004 264.5);
  --card-border: oklch(0.2878 0.0046 247.99);
  --card-footer: oklch(0.2348 0.0041 264.49);
  --item: oklch(0.2559 0.004 264.5);
  --item-border: oklch(0.3451 0.0071 274.78);
  --chip: oklch(0.3838 0.0085 276.94);
  --chip-border: oklch(0.4265 0.0115 285.9);
  --popover: oklch(0.3147 0.0071 285.99);
  --popover-foreground: var(--foreground);
  --popover-border: oklch(0.3893 0.0117 285.84);
  --popover-accent: oklch(0.4001 0.01 285.94);
  --dialog: oklch(0.2559 0.004 264.5);
  --dialog-foreground: var(--foreground);
  --dialog-border: oklch(0.308 0.0046 247.98);
  --dialog-footer: oklch(0.2348 0.0041 264.49);
  --toast: oklch(0.3147 0.0071 285.99);
  --toast-foreground: var(--foreground);
  --toast-border: oklch(0.3893 0.0117 285.84);
  --table: transparent;
  --table-foreground: var(--foreground);
  --table-border: oklch(0.308 0.0046 247.98);
  --table-head: oklch(0.3084 0.0061 258.35);
  --table-accent: oklch(0.2739 0.0055 286.03);
  --tabs: oklch(0.2973 0.0056 271.23);
  --tabs-foreground: var(--foreground);
  --tabs-accent: oklch(0.3838 0.0085 276.94);
  --tabs-border: oklch(0.2657 0.0055 286.02);
  --primary: oklch(0.5784 0.2057 262.95);
  --primary-foreground: var(--foreground);
  --primary-border: oklch(0.4217 0.1869 262.77);
  --secondary: oklch(0.3673 0.0074 264.48);
  --secondary-foreground: var(--foreground);
  --secondary-border: oklch(0.2657 0.0055 286.02);
  --danger: oklch(0.5705 0.2297 28.57);
  --danger-foreground: var(--foreground);
  --danger-border: oklch(0.4058 0.161 28.31);
  --tertiary: oklch(0.9456 0.0017 247.84);
  --tertiary-foreground: oklch(0.2011 0.0039 286.04);
  --tertiary-border: oklch(0.4432 0.0104 248.06);
  --warning: oklch(0.744 0.1539 78.47);
  --warning-foreground: var(--foreground);
  --warning-border: oklch(0.6303 0.1299 78.77);
  --success: oklch(0.6554 0.187 148.39);
  --success-foreground: var(--foreground);
  --success-border: oklch(0.5152 0.1446 148.94);
  --info: oklch(0.6649 0.1854 249.66);
  --info-foreground: var(--foreground);
  --info-border: oklch(0.5703 0.160671 249.8244);
  --kbd: oklch(0.3911 0.0121 273.1);
  --kbd-foreground: var(--foreground);
  --kbd-border: oklch(0.4122 0.0107 264.45);
  --gradient-primary: linear-gradient(
    180deg,
    oklch(0.6198 0.1819 263.43) 0%,
    oklch(0.5784 0.2057 262.95) 100%
  );
  --gradient-info: linear-gradient(
    180deg,
    oklch(0.6649 0.1854 249.66) 0%,
    oklch(0.6104 0.1723 249.9) 100%
  );
  --gradient-secondary: linear-gradient(
    180deg,
    oklch(0.3673 0.0074 264.48) 0%,
    oklch(0.3476 0.0059 258.35) 100%
  );
  --gradient-success: linear-gradient(
    180deg,
    oklch(0.6554 0.187 148.39) 0%,
    oklch(0.5877 0.1668 148.59) 100%
  );
  --gradient-warning: linear-gradient(
    180deg,
    oklch(0.744 0.1539 78.47) 0%,
    oklch(0.681 0.1407 78.49) 100%
  );
  --gradient-tertiary: linear-gradient(
    180deg,
    oklch(0.9456 0.0017 247.84) 0%,
    oklch(0.8438 0.0053 247.89) 100%
  );
  --gradient-danger: linear-gradient(
    180deg,
    oklch(0.5705 0.2297 28.57) 0%,
    oklch(0.5143 0.2066 28.46) 100%
  );
}

@theme inline {
  --font-sans:
    'Inter', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-mono:
    'JetBrains Mono', ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    'Liberation Mono', 'Courier New', monospace;

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-border: var(--primary-border);
  --color-primary-foreground: var(--primary-foreground);
  --background-image-gradient-primary: var(--gradient-primary);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary-border: var(--secondary-border);
  --background-image-gradient-secondary: var(--gradient-secondary);
  --color-danger: var(--danger);
  --color-danger-foreground: var(--danger-foreground);
  --color-danger-border: var(--danger-border);
  --background-image-gradient-danger: var(--gradient-danger);
  --color-tertiary: var(--tertiary);
  --color-tertiary-foreground: var(--tertiary-foreground);
  --color-tertiary-border: var(--tertiary-border);
  --background-image-gradient-tertiary: var(--gradient-tertiary);
  --color-info: var(--info);
  --color-info-foreground: var(--info-foreground);
  --color-info-border: var(--info-border);
  --background-image-gradient-info: var(--gradient-info);
  --color-success: var(--success);
  --color-success-foreground: var(--success-foreground);
  --color-success-border: var(--success-border);
  --background-image-gradient-success: var(--gradient-success);
  --color-warning: var(--warning);
  --color-warning-foreground: var(--warning-foreground);
  --color-warning-border: var(--warning-border);
  --background-image-gradient-warning: var(--gradient-warning);
  --color-avatar: var(--avatar);
  --color-avatar-foreground: var(--avatar-foreground);
  --color-card: var(--card);
  --color-card-border: var(--card-border);
  --color-card-footer: var(--card-footer);
  --color-item: var(--item);
  --color-item-border: var(--item-border);
  --color-input: var(--input);
  --color-input-subtle: var(--input-subtle);
  --color-input-foreground: var(--foreground);
  --color-input-border: var(--input-border);
  --color-input-accent-border: var(--input-accent-border);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover-border: var(--popover-border);
  --color-popover-accent: var(--popover-accent);
  --color-kbd: var(--kbd);
  --color-kbd-foreground: var(--kbd-foreground);
  --color-kbd-border: var(--kbd-border);
  --color-dialog: var(--dialog);
  --color-dialog-foreground: var(--dialog-foreground);
  --color-dialog-border: var(--dialog-border);
  --color-dialog-footer: var(--dialog-footer);
  --color-tabs: var(--tabs);
  --color-tabs-foreground: var(--tabs-foreground);
  --color-tabs-border: var(--tabs-border);
  --color-tabs-accent: var(--tabs-accent);
  --color-toast: var(--toast);
  --color-toast-foreground: var(--toast-foreground);
  --color-toast-border: var(--toast-border);
  --color-table: var(--table);
  --color-table-foreground: var(--table-foreground);
  --color-table-border: var(--table-border);
  --color-table-head: var(--table-head);
  --color-table-accent: var(--table-accent);
  --color-chip: var(--chip);
  --color-chip-border: var(--chip-border);
  --color-muted: var(--muted);
  --color-dimmed: var(--dimmed);
  --color-separator: var(--separator);
  --color-accent: var(--accent);
  --color-border: var(--border);

  --radius: 0.75rem;
  --shadow: var(--shadow);
  --shadow-card: var(--card-shadow);
  --shadow-input: var(--input-shadow);

  --text-sm: 0.75rem;
  --text-base: 0.875rem;
  --text-base--line-height: calc(1.25 / 0.875);
  --text-lg: 1rem;
  --text-xl: 1.125rem;
  --text-2xl: 1.25rem;
  --text-3xl: 1.5rem;
  --text-4xl: 1.875rem;
  --text-5xl: 2.25rem;
  --text-6xl: 3rem;
  --text-7xl: 3.75rem;
  --text-8xl: 4.5rem;
  --text-9xl: 6rem;
}

@utility bg-spinner {
  background-image: var(--spinner-light);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

@utility bg-spinner-dark {
  background-image: var(--spinner-dark);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

@utility bg-chevron-right {
  background-image: var(--chevron-right);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

@utility bg-chevron-right-dark {
  background-image: var(--chevron-right-dark);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

@utility bg-chevron-down {
  background-image: var(--chevron-down);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

@utility bg-chevron-down-dark {
  background-image: var(--chevron-down-dark);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

@layer base {
  .root {
    isolation: isolate;
  }
  html {
    color-scheme: dark;
  }
  body {
    @apply text-base bg-background text-foreground;
  }
}
